*{user-select: none;}
*{cursor: default;}
*{
	user-select:none;
	-webkit-user-select:none;
	-ms-user-select: none;
	-moz-user-select:none;
	-khtml-user-select:none;
	-webkit-user-drag:none;
	-khtml-user-drag:none;
}
.usagiBlue{
	background: rgb(210,250,240)
}
.usagiPink{
	background: rgb(255,230,230);
}
.unicornPurple{
	background: rgb(204, 204, 255);
}
