.alarmBar{
	font-size: 20px;
	width: 110%;
	height: 32px;
	margin-left: 30px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	transition: all 500ms 50ms ease;
	margin-bottom: 10px;
	cursor: pointer;
	position: fixed;
}
.alarmBar *{
	cursor: pointer;
}
.alarmBar:hover{
	margin-left: 10px;
}
